html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button.navbar-toggler {
  padding: 0.25rem;
}

a.navbar-brand {
  padding: 5 0 0 0;
}

li.nav-item {
  margin-left: auto;
  /* margin-right: auto; */
}

div.collapse.show {
  display: flex;
}

.section {
  margin-bottom: 30px;
}

.section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.team-list {
  list-style: none;
  padding-left: 0;
}

.team-list li {
  margin-bottom: 10px;
}

.contact-info {
  margin-top: 20px;
}

.contact-info ul {
  list-style: none;
  padding-left: 0;
}
.contact-info li {
  margin-bottom: 10px;
}
